@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  transition: 0.3s linear all;
  list-style-type: none;
  text-decoration: none;
}
html {
  background: #1e2538;
}
